@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:ital,wght@0,400;0,600;0,700;1,300&family=Roboto&family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/*header start.*/

.header{
    width: 80%;
    height: 12vh;
    margin: auto;
}


.navbar{
    display: flex;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(255,   255 ,255, 0.3);
}
nav .logo a{
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 1rem;
}

.menu{
    display: flex;
    justify-content: space-between;
    column-gap: 48px;
    padding: 1rem;
}
.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    list-style-type: none;
    text-transform: uppercase;
}

.menu ul a{
    color: white;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.menu ul a:hover{
    color: #0ba2c0;
}
.menu .menu-button{
    padding: 12px 24px;
    background-color: rgba(255,   255 ,255, 0.08);
    border-radius: 56px;
}

.menu .menu-button a{
    color: #0ba2c0;
    text-decoration: none;
    text-transform:capitalize;
    transition: all .25s    ease;
}

.menu-button:hover{
    background-color: #0ba2c0;
}

.menu-button a:hover{
    color: white;
}
/* header end */

/* responsive start */
@media(max-width:610px){
    .header{
        width: 100%;
        padding: 0 12px;
    }
    .menu ul{
        column-gap: 20px;
    }
}


/* responsive end */