@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:ital,wght@0,400;0,600;0,700;1,300&family=Roboto&family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/*header start.*/

.header {
    width: 100%;
    margin: auto;
}
.container{
    width: 80%;
    margin: auto;
}

.navbar {
    background-color: #214142;
}

.navbar ul{
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    column-gap: 20px;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    margin:auto;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}







.menu ul a{
    color: white;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

.menu ul a:hover{
    color: #0ba2c0;
}


.menu .menu-button a{
    color: #0ba2c0;
    background-color: rgba(255,   255 ,255, 0.08);
    border-radius: 50px;
    text-decoration: none;
    text-transform:capitalize;
    transition: all .25s    ease;
    margin: 12px 24px;
    padding: 20px 40px;
}

.menu-button a:hover{
    background-color: #0ba2c0;
    color: white;
}

.menu-button a:hover{
    color: white;
}


/* header end */

/* responsive start */
@media(max-width:610px){
    .header{
        width: 100%;
        padding: 0 12px;
    }
    .menu ul{
        column-gap: 20px;
    }
   
   
}
/* responsive end */

/* main start */

.main h1, p{
    color: white;
}
.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}

.main h1{
    font-size: 60px;
}
.main p{
    font-size: 24px;
    text-align: justify;
}
.links{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
}
.links a{
    text-transform: capitalize;
    font-size: 18px;
    padding: 20px;
    background-color: azure;
    border-radius: 35px;
    text-decoration: none;
    width: 280px;
    text-align: center;
    color: black;
    transition: all ease-in-out 0.6s;
}

.links a:hover{
    background-color: #0ba2c0;
    color: #fff;
}


/* main end */