*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    margin: 0;
    height: 100%;
    width: 100%;

 }
 
 body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: linear-gradient(to right, #dfabc5 0%,#1da1f2 100% );
    grid-template-columns: min-content;
    grid-template-rows: min-content;
 }

 .container{
    background-color: #fff;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    position: relative;
 }

 .container img{
    width: 80px;
    position: absolute;
    right: 5%;
    top: 15px;
    border-radius: 50px;
    border: 2px solid #f7479f;
 }

 .container form .title{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 100px 10px 0px;
    text-transform: capitalize;
 }
 


.container form .input-box{
   width: 100%;
   height: 45px;
   margin-top: 25px;
   position: relative;
}

.container form .input-box input{
   height: 100%;
   width: 100%;
   outline: none;
   border: none;
   font-size: 16px;
}

.container form .underline::before{
   position: absolute;
   height: 2px;
   width: 100%;
}