*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    margin: 0;
    height: 100%;
    width: 100%;

 }
 
 body {
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: linear-gradient(to right, #dfabc5 0%,#1da1f2 100% );
    grid-template-columns: min-content;
    grid-template-rows: min-content;
 }

 .container{
    background-color: #fff;
    width: 100%;
    padding: 25px 30px;
    border-radius: 5px;
    position: relative;
 }

 .container img{
    width: 80px;
    position: absolute;
    right: 5%;
    top: 15px;
    border-radius: 50px;
    border: 2px solid #f7479f;
 }

 .container form .title{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 100px 10px 0px;
    text-transform: capitalize;
 }
 


.container form .input-box{
   width: 100%;
   height: 45px;
   margin-top: 25px;
   position: relative;
}

.container form .input-box input{
   height: 100%;
   width: 100%;
   outline: none;
   border: none;
   font-size: 16px;
}

.container form .underline::before{
   position: absolute;
   content: "";
   height: 2px;
   width: 100%;
   left: 0;
   bottom: 0;
   background-color: #ccc;
}

.container form .underline::after{
   position: absolute;
   content: "";
   height: 2px;
   width: 100%;
   background-color: red;
   left: 0;
   bottom: 0;
   transform: scaleX(0);
   transform-origin: left;
   transition: all 0.4s ease;
}

.container form .input-box input:focus ~ .underline::after,
.container form .input-box input:valid ~ .underline::after{
   transform: scaleX(1);
}
.submit-button{
   margin: 40px 0 20px 0;
}

.container form .input-box input[type="submit"]{
   font-size: 17px;
   background: red;
   border-radius: 5px;
   cursor: pointer;
   transition: all 0.4s ease;
}
.container form .input-box input[type="submit"]:hover{
   letter-spacing: 1px;
   color: red;
   background: rgba(0, 0, 0, 0.15);
   font-weight: bold;
   border-radius: 10px;
}
.container .text{
   font-size: 14px;
   text-align: center;
   text-transform: capitalize;
}

.social-media-links .twitter a,
.social-media-links .github a,
.social-media-links .facebook a{
   font-size: 15px;
   width: 100%;
   height: 45px;
   text-decoration: none;
   padding: 10px;
   border-radius: 5px;
   line-height: 45px;
   text-transform: capitalize;
   color: #ccc;
}